@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

.icons {
    width: 15px;
    height: 15px;
}

.image {
    padding-top: 7px;
}

.desc {
    padding-left: 3px;
}